html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, dialog, figcaption, figure,
footer, header, hgroup, menu, command, nav, section, summary,
time, mark, embed, audio, video, source,
progress, meter{
    background:transparent;
    border:0 none;
    font-size:100%;
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:top;
}
fieldset, form, label, legend, keygen, input, output, textarea, datalist{
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:top;
}

ol, ul, li{list-style:none;}

blockquote, q{quotes:none;}

table,
table th,
table td{
	padding:0;
	border:none;
	border-collapse:collapse;
}

img,
embed{vertical-align:top;}
