@import "partial/_reset.scss";

@charset "utf-8";
.videoContainer{
  article{
    border-bottom: solid 4px #ffa5a5;
    margin-bottom: 30px;
    word-break: break-all;
  }

  .videoPlayer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    overflow: hidden;
    background: url(../img/spinner.gif) no-repeat center center;
    background-size:40px 40px;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}




/* clearfix */
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}